[mysqld]
user=mysql
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
authentication_policy=mysql_native_password
secure_file_priv=/var/lib/mysql
expire_logs_days=7
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
max_connections=1024
# innodb_buffer_pool_size=64M
# tmp_table_size=16M
# key_buffer_size=16m

general_log = 1
general_log_file = /var/log/mysql/mysql.log
log_error = /var/log/mysql/mysql_error.log
# log_error_verbosity = 3

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4